#panel
{
	position: absolute;
	align-self: right;
	display: flex;
	flex-direction: column;
	top: 0px;
	right: 20px;
	width: 300px;
	justify-content: space-between;
	color: white;
}

#form
{
	background-color: rgb(42, 52, 100);
	flex: 1;
	border-radius: 0px 0px 0px 5px;
	padding: 15px;
	overflow: hidden;
}

#collapseButton
{
	width: 50px;
	margin-left: auto;
	background-color: rgb(68, 82, 139);
	border: 0px;
	border-radius: 0px 0px 5px 5px;
	padding: 10px;
	cursor: pointer;
}

#collapseButton:focus
{
	outline: 0px;
}

