::ng-deep .ngx-charts
{
	fill: white;
}

#top
{
	display: flex;
	flex-direction: column;
	color: white;
}

#browser
{
	display: flex;
	flex-direction: row;
	margin: auto;
	background-color: rgb(32, 40, 82);
	padding-top: 5px;
	border-radius: 10px 10px 0px 0px;
}

#chartBox
{
	position: relative;
	width: 780px;
	height: 420px;
	background-color: rgb(32, 40, 82);
	padding: 15px;
	padding-top: 20px;
	padding-bottom: 30px;
	border-radius: 10px;
	border-width: 5px;
	border-color: rgb(68, 82, 139);
	border-style: solid;
}

i
{
	color: white;
	width: 5px;
	height: 5px;
}

.arrowContainer
{
	padding-left: 40px;
	padding-right: 40px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 17px;
	cursor: pointer;
}

.arrowContainer:hover i
{
	border-color: rgb(153, 153, 153)
}

#weekdays
{
	position: absolute;
	left: -125px;
	top: 90px;
}

#weekdays li
{
	width: 100px;
	border-radius: 10px 0px 0px 10px;
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: rgb(32, 40, 82);
	cursor: pointer;
}

#weekdays li:hover
{
	background-color: rgb(54, 64, 116);
}

#weekdays li.selected
{
	background-color: rgb(68, 82, 139);
}

#message
{
	background-color: rgb(32, 40, 82);
	font-size: 48px;
	margin: auto;
	padding-top: 150px;
}

#title
{
	padding: 0px;
	padding-bottom: 10px;
	margin: 0px;
}

#stats
{
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 30px;
}

h4
{
	margin: 8px;
	margin-top: 20px;
	padding: 0px;
}

.temperature
{
	padding: 0px;
	margin: 0px;
}