/* You can add global styles to this file, and also import other style files */
body
{
	background-color: rgb(21, 27, 63);
	margin: 0px;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

button
{
	border: 0px;
	background-color: rgb(86, 106, 173);
	padding: 4px;
}

button:focus
{
	outline: 0px;
}

input
{
	margin-right: 10px;
	background-color: rgb(172, 212, 238);
	border: none;
	padding: 4px;
}

input:focus
{
	outline: none;
}